/* assets/admin-style.css */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f1f4f8;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    transition: 0.3s;
}

#page-content-wrapper {
    margin-left: 250px;
    transition: margin-left 0.3s;
}

.table img {
    border-radius: 5px;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}
